default:
    formatters:
        progress:
            verbose:  false
            paths:    false
            snippets: false
    suites:
        default:
            contexts:
                - FeatureContext:
                    kernel: "@kernel"
    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
                env: test
                debug: true
        Behat\MinkExtension:
            base_url: http://localhost:8000
            default_session: symfony2
            javascript_session: selenium2
            browser_name: chrome
            selenium2:
                wd_host: http://localhost:4444/wd/hub
                capabilities:
                    chrome:
                        switches:
                            - "--headless"
                            - "--disable-gpu"
                            - "--window-size=1920,1080"
                            - "--no-sandbox"
            symfony2: ~
